:root {
  --primary-color: rgb(238, 164, 80);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(31, 30, 30);
  padding: 3rem 0 0;
}

h1 {
  text-align: center;
  color: #fff;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(207, 207, 207);
  margin: 3.2rem 0;
}

form {
  width: 48rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1.6rem;
  border-radius: 6px;
}

form h2 {
  margin-bottom: 1.6rem;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
}

input,
textarea,
select {
  font: inherit;
  display: block;
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 0.8rem;
  border: 1px solid rgb(184, 184, 184);
  color: rgb(32, 32, 32);
}

input:focus,
textarea:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

button {
  font: inherit;
  display: block;
  padding: 0.8rem;
  background-color: rgb(32, 5, 63);
  color: #fff;
  border: 1px solid rgb(32, 5, 63);
  padding: 0.8rem 2.4rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  --button-color: rgb(83, 15, 160);
  background-color: var(--button-color);
  border-color: var(--button-color);
}

.form-control-inline {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.form-control-inline input {
  width: auto;
  margin: 0 0.8rem 0 0;
}

.form-control-inline label {
  margin: 0;
  font-weight: 400;
}

.form-control-inline label:hover {
  cursor: pointer;
}
